/*/*/node_modules
/*/node_modules
/*/.env
/*/.log
/*/logs
/*/logs/*.log
/*/dist
/*/coverage
/*/build
/*/temp/*.tmp
/*/temp
/.DS_Store
/*/.vscode
/*/package-lock.json
/*/.DS_Store
aiContext.txt
/server/uploads/transactions/
